<app-public-layout>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="add-form mx-auto">
        <div class="form-group">
            <label class="visually-hidden" for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="ex. Neptun" formControlName="name">
        </div>

        <div class="form-group">
            <label class="visually-hidden" for="location">Location</label>
            <input type="text" class="form-control" id="location" placeholder="ex. Skopje" formControlName="location">
        </div>
      
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Edit</button>
        </div>
    </form>
</app-public-layout>
