<div class="row">
  <div class="col">
      <button type="button" class="btn btn-primary" (click)="onAdd()">Add Inventory</button>
  </div>
</div>
<div class="row">
  <div class="col">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Location</th>
          <th scope="col">Edit/Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let inventory of page.content">
          <td>{{inventory.id}}</td>
          <td>{{inventory.name}}</td>
          <td>{{inventory.location}}</td>
          <th scope="col">
            <button type="button" class="btn btn-outline-primary" (click)="onEdit(inventory.id)"><i class="far fa-edit"></i></button>
            <button type="button" class="btn btn-outline-danger" (click)="onDelete(inventory.id)"><i class="far fa-trash-alt"></i></button>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
</div>

